@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(../Images/header.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    width: 90%;
    margin: auto auto;
}
html{
    font-size: 62.5%;
}
ul li{
    list-style: none;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
}
li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}
h1{
    margin-bottom: 0.5rem;
    letter-spacing: 0.15em;
    font-weight: 500;
}

.header{
    height: 80px; 
}
.navbar{
    padding: 1rem;
    max-width: 100%;
    width: 80%;
    margin: auto auto;
    align-items: center;
}

.header .header-name,
.header .navbar a{
    color: white;
}
.header .header-name{
    float: left;
    font-size: 3.5rem;
    font-weight: 700;
    border-bottom: 2px solid orange;
}
.header .navbar .nav-items{
    float: right;
    margin-top: 1rem;
    background: rgba(0,0,0,0.5);
}
.navbar::after{
    content: '';
    display: block;
    clear: both;
}
.header .navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}
.navbar a{
    padding-bottom: 0.3rem;
}
.navbar a:hover{
    border-bottom: 1px solid rgb(236, 111, 9);
}
.heading h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 60px;
    margin: 10px;
}
.contact-details{
    display: flex;
    flex-direction: column;
}
.contact-details img{
    width: 50px;
    display: list-item;
    margin: 25px;

}
.contact-details h1{
    
    color: whitesmoke;
    font-size: 25px;
    letter-spacing: 1px;
    display: flex;  
    padding-left: 25px;
    padding-top: 35px;
}
.contact-details a{
    color: whitesmoke;
    font-size: 25px;
    text-decoration: underline;
    letter-spacing: 1px;
    display: inline;
    padding-left: 25px;
    padding-top: 35px;
}
.image1, .image2, .image3, .image4{
    display: inline-flex;
}